<h1>Employee Basic detail</h1>
<ul>
  <li>ID : {{employee.id}}</li>
  <li>Title : {{employee.title}}</li>
  <li>First Name : {{employee.first_name}}</li>
  <li>Last Name : {{employee.last_name}}</li>
  <li>Email Adress : {{employee.email}}</li>
</ul>
<div class="employeeInfo">
    <button (click)="showDetails('contact')">Contact Information</button>
    <button (click)="showDetails('personal')">Personal Information</button>
    <button (click)="showDetails('employment')">Employment Information</button>
</div>
<router-outlet></router-outlet>
<hr>
<button (click)="goPrevious()">Previous</button>
<button (click)="goNext()">Next</button> <br>
<button (click)="gotoEmployeelist()">Back</button>
