.EmpList{
  padding-left: 5px;
  list-style-type: none;
}
.EmpList li{
  display: inline-block;
  padding: 5px 5px 5px 2px;
  border: 1px solid black;
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  background-color: orange;
}
.EmpList li:hover{
  background-color: rgb(255, 202, 28);
}
.EmpList li:active{
  background-color: rgb(212, 138, 0);
}
.EmpList span{
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 3px;
  background-color: orangered;
}
.EmpList li.selected{
  background-color: yellow;
}

