<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div style="text-align:center">
    <img src="/assets/big_cheese_banner_logo.png" alt="Big Cheeze logo">
  </div>
  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <!-- Component interaction -->
  <!-- from parent to child (app to home) [parentdata]-->
  <!-- from child to parent (home to app) [childEvent]-->
  <!-- For now the Home component will be removed, and replaced with log-in component -->
  <!-- <app-home (childEvent)="call(message=$event)" [parentData]="greetname"></app-home> -->
  <!--  -->
  <!-- <app-log-in></app-log-in>
  <app-employee-list></app-employee-list> -->
  <!-- <router-outlet></router-outlet> -->

  <footer id="footer_banner">
    <h2 id="datetime"></h2>
    <h2>{{date}}</h2>
    <img src="assets/Multicheese.jpg" alt="MultiCheeze">
  </footer>
</div>
